.user-form {
  border: 1px solid $border-color;
  border-radius: 24px;
  padding: to-rem(32px);
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: to-rem(32px);
    color: $gray-color-second;
  }

  &__input-container {
    margin-top: to-rem(24px);
  }

  &__field {
    color: $gray-color-second;
    font-size: to-rem(18px);
    border: 1px solid $border-color;
    border-radius: 12px;
    padding: to-rem(15px) to-rem(24px);
    margin-top: to-rem(7px);

    &:focus {
      outline: 1px solid $border-color;
    }
  }

  &__button {
    margin-top: to-rem(40px);
  }
}
