* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: $white-color;
  line-height: 1.5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
