$white-color: white;
$gray-color: #666;
$gray-color-second: #333;
$background-color: #11111170;
$background-color-hover: #11111183;
$border-color: rgb(102 102 102 / 35%);
$red-color: red;

@mixin transition {
  transition: all 0.2s ease-in-out 0s;
}
