.main-content {
  display: flex;
  flex-direction: column;
  gap: to-rem(30px);
  min-height: 100vh;

  &__form {
    margin-top: to-rem(20px);
  }

  &__title {
    font-size: to-rem(32px);
    color: $gray-color-second;
    text-align: center;
  }

  &__spinner {
    display: block;
    width: 80px;
    margin: auto;
  }

  &__error {
    display: block;
    margin: auto;
    font-size: to-rem(30px);
  }
}
